<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/src/index.sass" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <!-- <div>
        <div class="back">
            <button onclick="window.location.href='../index.html'">
                Home
            </button>
        </div>
        <div id="price">

        </div>

        <div class="map">

        </div>
        <button id="caught" type="button" onmousedown="caughtlackin()">
            
                Caught the Deliveryman Lacking
            
        </button>
        

    </div> -->

  <div class="wrapper">
    <div class="container">
      <div class="container-map">
        <a href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon-back"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </a>

        <h1>McDonald's Quarter Pounder&reg;</h1>
        <p>520 Cal</p>
        <div class="tag-price">Price: $<span>3.79</span></div>
        <div class="map">
          <canvas id="out" width="360px" height="400px"></canvas>
        </div>
        <div class="container-buttons">
          <button class="btn">Catch Deliveryman</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/src/js/canvas.js"></script>
  <script type="text/javascript">
    let price = 379;
    let priceIncrement = 0;
    let msg = '';
    let priceCount = setInterval(() => {
      document.querySelector('.tag-price span').innerHTML = (
        price / 100
      ).toFixed(2);
      price++;
    }, 500);

    document.querySelector('.btn').addEventListener('click', () => {
      clearInterval(priceCount);

      window.location.href = '/views/confirm.html';
      fetch('', {
        method: 'Post',
      });
    });
    const __NOT_THE_PASSWORD = atob('cXdlaXVvaGRmMzAkKiNCSkhXSkVI');
    const end = 'https://data.hackclub.mococovid.com';
    const params = new URLSearchParams(window.location.search);
    let status = params.get('status');

    if (status === 'driver') {
      document.querySelector('.container-buttons').remove();
      document.querySelector('.tag-price').remove();
    }

    setInterval(async () => {
      fetch(`${end}/getincrement`)
        .then((res) => res.json())
        .then((data) => {
          console.log(data);
          if (data.incre > priceIncrement) {
            priceIncrement = data.incre;
            price += priceIncrement;
          }
          if (!(data.user_msg === '') && !(data.user_msg === msg)) {
            msg = data.user_msg;
            alert(`You've received a Super Chat! An anonymous user says: ${data.user_msg}`);
          }
        });
    }, 3000);

    setInterval(async () => {
      navigator.geolocation.getCurrentPosition(async (position) => {
        const res = await fetch(`${end}/${status}locupdate`, {
          method: 'POST',
          headers: {
            passwd: __NOT_THE_PASSWORD,
            'Content-Type': 'application/json',
            'Cache-Control': 'no-cache',
          },
          body: JSON.stringify({
            [`${status}_latitude`]: position.coords.latitude,
            [`${status}_longitude`]: position.coords.longitude,
          }),
        });
      });
      const locs = await getlocs();
      const opp = status === 'driver' ? 'client' : 'driver';
      repaint(locs[opp + '_latitude'], locs[opp + '_longitude']);
    }, 600);
  </script>
</body>
