<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/src/index.sass">
</head>
<body>
    <div>
        <div class="back">
            <button onclick="window.location.href='../index.html'">
                Home
            </button>
        </div>
        <div id="price">

        </div>

        <div class="map">

        </div>
        <button id="caught" type="button" onmousedown="caughtlackin()">
            
                Caught the Deliveryman Lacking
            
        </button>
        

    </div>
    <script type="text/javascript">
        function caughtlackin() {
            let time = 5;
            let timer = setInterval(() => {
    
                document.querySelector('#caught').innerHTML = time;
                time--;
                if (time < 0) {
                    clearInterval(timer);
                    window.location.href = '/views/confirm.html'; 
                    fetch('',{
                        method: 'Post',
                        
                    })
                }
            }, 1000);
        }
    </script>
    <script src="/src/index.js"></script>
</body>