<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/src/index.sass" />
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="container-map">
        <a href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon-back"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </a>

        <br />
        <h1>San Francisco, CA &mdash; McDonald's Quarter Pounder&reg;</h1>
        <br />
        <div class="tag" id="liveStatus"></div>
        <div class="map">
          <canvas id="out" width="360px" height="400px"></canvas>
        </div>
        <div class="container-buttons">
          <button class="btn" id="disco-mode">Disco Mode</button>
          <button class="btn" id="ink-splat">Ink Splat</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    const __NOT_THE_PASSWORD = atob('cXdlaXVvaGRmMzAkKiNCSkhXSkVI');
    const end = 'https://data.hackclub.mococovid.com';
    let status = 'spectator';

    let buttons = document.querySelectorAll('.btn');
    buttons.forEach((el) => {
      el.addEventListener('click', () => {
        // if (el.disabled) return;

        console.log('lol');
        buttons.forEach((i) => {
          i.disabled = true;
        });

        setTimeout(() => {
          buttons.forEach((i) => {
            i.disabled = false;
          });
        }, 10000);
      });
    });

    setInterval(() => {
      let liveStatus = document.querySelector('#liveStatus');
      fetch(`${end}/getmessage`)
        .then((res) => res.json())
        .then((data) => {
          if (data.msg === 'LIVE NOW') {
            liveStatus.innerHTML = `<span>&middot;</span> ${data.msg}`;
          } else {
            liveStatus.textContent = data.msg;
          }
        });
    }, 2000);

    const canvas = document.getElementById('out');
    const ctx = canvas.getContext('2d');
    // (window.onresize = () => {
    //   canvas.width = '100%';
    //   canvas.height = '100%';
    // })();
    const limits = [
      { x: 37.78680489952002, y: -122.4049480163113 },
      { x: 37.78662352047515, y: -122.40631596968298 },
      { x: 37.78577964868966, y: -122.40614569840906 },
    ];
    function map_range(x, inMin, inMax, outMin, outMax) {
      return ((x - inMin) * (outMax - outMin)) / (inMax - inMin) + outMin;
    }
    const max = {
      x: Math.max(...limits.map((p) => p.x)),
      y: Math.max(...limits.map((p) => p.y)),
    };
    const min = {
      x: Math.min(...limits.map((p) => p.x)),
      y: Math.min(...limits.map((p) => p.y)),
    };

    const range = (p) => ({
      x: map_range(p.x, min.x, max.x, 0, canvas.width),
      y: map_range(p.y, min.y, max.y, 0, canvas.height),
    });

    function line(p1, p2) {
      const [c1, c2] = [p1, p2].map(range);
      ctx.lineWidth = 50;

      ctx.beginPath();
      ctx.moveTo(c1.x, c1.y);
      ctx.lineTo(c2.x, c2.y);
      ctx.stroke();
    }

    function plot(p) {
      const { x, y } = range(p);
      ctx.fillRect(x, y, 10, 10);
    }

    const combo = [];
    limits.forEach((a1) => {
      limits.forEach((a2) => {
        if (a1.x !== a2.x) {
          combo.push([a1, a2]);
        }
      });
    });

    const getlocs = async () => {
      return fetch(`${end}/getlocs`).then((res) => res.json());
    };

    const repaint = async (x, y) => {
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      combo.forEach((shit) => line(...shit));

      ctx.fillStyle = 'red';
      plot({
        x,
        y,
      });
    };

    setInterval(async () => {
      navigator.geolocation.getCurrentPosition(async (position) => {
        if (!(status === 'spectator')) {
          const res = await fetch(`${end}/${status}locupdate`, {
            method: 'POST',
            headers: {
              passwd: __NOT_THE_PASSWORD,
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              [`${status}_latitude`]: position.coords.latitude,
              [`${status}_longitude`]: position.coords.longitude,
            }),
          });
        }
      });
      const locs = await getlocs();
      const opp = ['driver', 'client'];
      opp.forEach((item, i) => {
        repaint(locs[opp[i] + '_latitude'], locs[opp[i] + '_longitude']);
      });
    }, 200);
  </script>
</body>
