<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/src/index.sass" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="container-map">
        <a href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon-back"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </a>

        <br />
        <h1>San Francisco, CA &mdash; McDonald's Quarter Pounder&reg;</h1>
        <br />
        <div class="tag" id="liveStatus"></div>
        <div class="map">
          <canvas id="out" width="360px" height="400px"></canvas>
        </div>
        <div class="container-buttons">
          <button class="btn" id="disco-mode">Ghost Mode</button>
          <button class="btn" id="ink-splat">Super Chat</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/src/js/canvas.js"></script>
  <script>
    const __NOT_THE_PASSWORD = atob('cXdlaXVvaGRmMzAkKiNCSkhXSkVI');
    const end = 'https://data.hackclub.mococovid.com';
    let status = 'spectator';

    let buttons = document.querySelectorAll('.btn');
    buttons.forEach((el) => {
      el.addEventListener('click', () => {
        buttons.forEach((i) => {
          i.disabled = true;
        });

        setTimeout(() => {
          buttons.forEach((i) => {
            i.disabled = false;
          });
        }, 2500);
      });
    });

    let discoToggle = document.querySelector('#disco-mode');

    discoToggle.addEventListener('click', async () => {
      console.log('test');
      const res = await fetch(
        `${end}/modeSelection?discoMode=true&inkSplatter=false`,
        {
          method: 'POST',
        }
      );
    });

    let inkToggle = document.querySelector('#ink-splat');

    inkToggle.addEventListener('click', async () => {
      let msg = prompt('What would you like to say to the participant?');
      const res = await fetch(
        `${end}/updateincrement?increment=50&message=${msg}`,
        {
          method: 'POST',
        }
      );
    });

    setInterval(() => {
      let liveStatus = document.querySelector('#liveStatus');
      fetch(`${end}/getmessage`)
        .then((res) => res.json())
        .then((data) => {
          if (data.msg === 'LIVE NOW') {
            liveStatus.innerHTML = `<span>&middot;</span> ${data.msg}`;
          } else {
            liveStatus.textContent = data.msg;
          }
        });
    }, 1000);

    setInterval(async () => {
      const locs = await getlocs();
      ctx.fillStyle = 'blue';
      repaint(locs['client_latitude'], locs['client_longitude']);
      ctx.fillStyle = 'red';
      repaint(locs['driver_latitude'], locs['driver_longitude']);
    }, 600);
  </script>
</body>
